In [1]:
import pandas as pd
import sqlite3 as sql

In [11]:
con = sql.connect('movies.sqlite')

In [13]:
query_1 = 'select * from directors'

pd.read_sql_query(query_1, con)

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [ ]:
query_1 = 'select * from directors'

pd.read_sql_query(query_1, con)